.weather-widget {
  display: flex;
  flex-flow: row wrap; 
  width: 100%;
  justify-content: center;
}

.weather-display, footer, .weather-display__search {
  border-radius: 1em;
  margin: .5em;
  padding: 1em;
  min-width: fit-content;
}

.weather-display__search, footer, header {
  flex: 0 0 100%; 
  text-align: center;
}

.weather-display__search input {
  padding:.25em;
}

.weather-display__icon_holder, .weather-display__title {
  text-align: center;
}

.weather-display__title {
  font-weight: bold;
}

header {
  font-size: 1.5em;
  font-weight: bold;
}

footer button {
  margin: .5em;
  border-radius: .5em;
}

.weather-display{
  border: thin solid black;
}

.weather-display__title, 
.weather-display__icon_holder, 
.weather-display__label,
.weather-display__value,
.weather-display__row {
  font-size: 1em;
  margin: 0em;
  padding: 0em;
}

.autocomplete-suggestions {
  background-color: white;
  overflow: hidden;
}